{
 "Comment": "Example config file. Copy this one to the secret-data.config.json and edit. TLSCertFile and TLSKeyFile are file names of files in PEM format",
 "SiteRoot": "localhost",
 "WebServerPort": "8085",
 "RecieverEMail": "world@example.net",
 "SMTPServer": "smtp.example.net",
 "SMTPUser": "Кирилл",
 "SMTPPassword": "bla-bla-bla",
 "SenderEMail": "den@example.net",
 "PostgresqlServerURL": "postgresql://localhost:5432",
 "TLSCertFile": "example.pem",
 "TLSKeyFile": "example.key"
}