{
 "Comment": [
  "Example config file. Copy this one to the secret-data.config.json and edit.",
  "If an SMTPServer is set to an empty string, emails are printed to stdout instead of actually being sent",
  "TLSCertFile and TLSKeyFile are file names of files in PEM format. You can set them to empty strings to use",
  "plain http"
 ],
 "SiteRoot": "localhost",
 "WebServerPort": "8085",
 "RecieverEMail": "world@example.net",
 "SMTPServer": "smtp.example.net",
 "SMTPUser": "Кирилл",
 "SMTPPassword": "bla-bla-bla",
 "SenderEMail": "den@example.net",
 "PostgresqlServerURL": "postgresql://localhost:5432",
 "TLSCertFile": "example.pem",
 "TLSKeyFile": "example.key"
}