{
 "Comment": "Example config file. Copy this one to the secret-data.config.json and edit",
 "RecieverEMail": "world@example.net",
 "SMTPServer": "smtp.example.net",
 "SMTPUser": "Кирилл",
 "SMTPPassword": "bla-bla-bla",
 "SenderEMail": "den@example.net"
}