{
 "Comment": [
  "Пример конфигурационного файла. Скопируйте этот файл в файл semdict.config.json и отредактируйте.",
  "UnderAProxy-это целочисленное значение с допустимыми значениями 0 (false) и 1 (true)",
  "Установите UnderAProxy в 0, если gin используется в качестве веб-сервера (автономный режим)",
  "UnderAProxy до 1, когда semdict запускается как служба за обратным прокси-сервером с поддержкой TLS (режим службы)",
  "Серверный порт, включенный в регистрационные электронные письма, является только UnderAProxy == 1.",
  "TLSCertFile и TLSKeyFile (формат PEM) можно использовать только в автономном режиме для включения https",
  "Передайте пустые строки для использования обычного http",
  "Если для SMTPServer задана пустая строка, электронные письма печатаются в stdout вместо фактической отправки"
 ],
 "SiteRoot": "localhost",
 "UnderAProxy": 0,
 "ServerPort": "8085",
 "SMTPServer": "",
 "SMTPUser": "",
 "SMTPPassword": "",
 "SenderEMail": "",
 "PostgresqlServerURL": "postgresql://semdict:semdict123@localhost:5432",
 "TLSCertFile": "",
 "TLSKeyFile": "",
 "UserAlwaysLoggedIn": 0,
 "HideGinStartupDebugMessages": 1,
 "GinDebugMode": 0
}
