<!DOCTYPE html>
<html>
<!-- See https://semaphoreci.com/community/tutorials/test-driven-development-of-go-web-applications-with-gin -->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<body>
 <script type="text/javascript" src="/static/ckeditor_4.11.3_basic/ckeditor.js"></script>
 <p><a href="menu">Menu</a></p>
 <p>Edit article</p>
 <form class="form" action="/articleeditformsubmit" method="POST">
  <div class="form-group">
   <label for="id">ID</label>
   <input type="text" class="form-control" id="senseid" name="senseid" value="{{.Ad.Senseid}}" readonly>
  </div>
  <div class="form-group">
   <label for="phrase">Phrase</label>
   <textarea rows="10" cols="80" class="form-control" id="phrase" name="phrase"
    placeholder="Express the sense in detail as a phrase in the same language">
    {{.Ad.Phrase}}
    </textarea>
  </div>
  <div class="form-group">
   <label for="word">Word</label>
   <input type="text" name="word" class="form-control" id="word"
   placeholder="The word denoting the sense"
   value="{{.Ad.Word}}"
   required>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
 </form>
</body>
<script type="text/javascript">
  var ckeditor1 = CKEDITOR.replace( 'phrase' );
  AjexFileManager.init({
  returnTo: 'ckeditor',
  editor: ckeditor1
  });
  </script>
</html>