<!DOCTYPE html>
<html>
<!-- See https://semaphoreci.com/community/tutorials/test-driven-development-of-go-web-applications-with-gin -->
{{ template "header-start.t.html" .}}
<title>Semantic dictionary</title>
{{ template "header-end.t.html" .}}
<body>
<p><a href="/menu">Menu</a></p>
<form class="form" action="/changepasswordsubmit" method="POST">
    {{if .Email }}{{if .Confirmationkey }}
    <div class="form-group" style="display:none">
        <input type="text" class="form-control" id="email" name="email" value="{{.Email}}" readonly>
        <input type="text" class="form-control" id="confirmationkey" name="confirmationkey" value="{{.Confirmationkey}}" readonly>
    </div>
    {{end}}{{end}}
    {{if not .Email }}{{if not .Confirmationkey }}
    <div class="form-group">
        <label for="old_password">Old password</label>
        <input name="old_password" class="form-control" id="old_password"
               type="password"
               required>
    </div>
    {{end}}{{end}}
    <div class="form-group">
        <label for="password1">Password</label>
        <input name="password1" class="form-control" id="password1"
               type="password"
               required>
    </div>
    <div class="form-group">
        <label for="password2">Retype password</label>
        <input name="password2" class="form-control" id="password2"
               type="password"
               required>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</body>
</html>