<!DOCTYPE html>
<html>
<!-- See https://semaphoreci.com/community/tutorials/test-driven-development-of-go-web-applications-with-gin -->

{{ template "header-start.t.html" .}}
<title>Semantic dictionary</title>
{{ template "header-end.t.html" .}}

<body>
    <!-- <script>
        function setSrcQuery(e, q) {
         var src  = e.src;
         var p = src.indexOf('?');
         if (p >= 0) {
          src = src.substr(0, p);
         }
         e.src = src + "?" + q
        }
        
        function playAudio() {
         var le = document.getElementById("lang");
         var lang = le.options[le.selectedIndex].value;
         var e = document.getElementById('audio')
         setSrcQuery(e, "lang=" + lang)
         e.style.display = 'block';
         e.autoplay = 'true';
         return false;
        }
        
        function changeLang() {
         var e = document.getElementById('audio')
         if (e.style.display == 'block') {
          playAudio();
         }
        }
        
        </script> -->

  <p><a href="menu">Menu</a></p>
  <form class="form" action="/loginsubmit" method="POST">
  <div class="form-group">
   <label for="nickname">Nickname</label>
   <input type="text" class="form-control" id="nickname" 
   name="nickname" placeholder="Nickname" 
   required>
  </div>
  <div class="form-group">
   <label for="password">Password</label>
   <input name="password" type="password" class="form-control" id="password"
   placeholder="Password"
   required>
  </div>

  <!-- <div class="form-group">
     <p>Type the numbers you see in the picture below:</p>
     <p><img id=image src="/captcha/{ {.CaptchaID} }.png" alt="Captcha image"></p>
     <select id="lang" onchange="changeLang()">
        <option value="en">English</option>
        <option value="ja">Japanese</option>
        <option value="ru">Russian</option>
        <option value="zh">Chinese</option>
       </select> | <a href="#" onclick="playAudio()">Play Audio</a>
     <audio id=audio controls style="display:none" src="/captcha/{ {.CaptchaID} }.wav" preload=none>
       You browser doesn't support audio.
       <a href="/captcha/download/{ {.CaptchaID} }.wav">Download file</a> to play it in the external player.
     </audio>
     <input type=hidden name=captchaId value="{ {.CaptchaID} }"><br>
     <input name=captchaSolution>
   </div class="form-group">
  -->
  <button type="submit" class="btn btn-primary">Log in</button>
 </form>
 <p><a href="/registrationform">New user? Sign up!</a></p>
 <p><a href="/restorepasswordform">Restore password.</a></p>
</body>

</html>
