<!DOCTYPE html>
<html>
<!-- See https://semaphoreci.com/community/tutorials/test-driven-development-of-go-web-applications-with-gin -->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<body>
  <p><a href="menu">Menu</a></p>
  <form class="form" action="/loginformsubmit" method="POST">
  <div class="form-group">
   <label for="nickname">Nickname</label>
   <input type="text" class="form-control" id="nickname" 
   name="nickname" placeholder="Nickname" 
   required>
  </div>
  <div class="form-group">
   <label for="password">Password</label>
   <!--  type="password"  -->
   <input name="password" class="form-control" id="password"
   placeholder="Password"
   required>
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
 </form>
 <p><a href="/registrationform">Sign up</a></p>
</body>

</html>