<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <!-- See https://tehnojam.pro/category/development/razrabotka-web-prilozhenij-i-mikroservisov-na-golang-s-gin.t.html -->
    {{ template "header-start.t.html" .}}
    <title>Semantic dictionary</title>
    {{ template "header-end.t.html" .}}
    <body>
     <ul>
        {{if .IsLoggedIn}}<li><a href="/profile">Профиль</a></li>{{end}}
      <li><a href="/wordsearchform">Поиск слов</a></li>
      {{if not .IsLoggedIn}}<li><a href="/loginform">Войти или Зарегистрироваться</a></li>{{end}}
     {{if .IsLoggedIn}}<li><a href="/logout">Выйти</a></li>{{end}}
     <li><a href="https://github.com/budden/semdict">Источники проекта</a></li>
     <li><p><a href="https://github.com/budden/semdict/blob/master/doc/тз/общее.md">Спецификации требований (на русском языке)</a></p></li>
     </ul>
    </body>
</html>
