<!DOCTYPE html>
<html>
{{ template "header-start.t.html" .}}
<title>Семантический словарь</title>
{{ template "header-end.t.html" .}}
<body>
<p><a href="/menu">Меню</a></p>
<p>Edit profile</p>
<hr>
<form class="form" action="/profileeditsubmit" method="POST">
    <div class="form-group">
        <label for="tlanguage">Выберите язык, диалект или источник перевода.</label>
        <select class="form-control" name="tlanguage" id="tlanguage">
            {{ $PD := .PD }}
            {{ if $PD.LanguageId }}
                <option value="{{ $PD.LanguageId }}">{{ $PD.Languageslug }}</option>
            {{ else }}
                <option></option>
            {{end}}
            {{ range $index, $Record := .D }}
                    {{if ne $PD.Languageslug $Record.Slug }}
                        <option value="{{ $Record.ID }}">{{ $Record.Slug }}</option>
                    {{ end }}
            {{ end }}
        </select>
    </div>
    <hr>
    <button type="submit" name="action" value="save" class="btn btn-primary">Сохранить</button>
</form>
</body>
</html>
