<!DOCTYPE html>
<html>
<!-- See https://semaphoreci.com/community/tutorials/test-driven-development-of-go-web-applications-with-gin -->

{{ template "header-start.t.html" .}}
<title>Semantic dictionary</title>
{{ template "header-end.t.html" .}}

<body>
 <p><a href="menu">Menu</a></p>
 <form class="form" action="/registrationsubmit" method="POST">
  <div class="form-group">
   <label for="nickname">Nickname</label>
   <input type="text" class="form-control" id="nickname" 
   name="nickname" placeholder="Nickname" 
   required>
  </div>
  <div class="form-group">
   <label for="registrationemail">Registration E-Mail</label>
   <input type="text" name="registrationemail" class="form-control" id="registrationemail"
   placeholder="Registration E-Mail"
   required>
  </div>
  <div class="form-group">
   <label for="password1">Password</label>
   <input name="password1" class="form-control" id="password1"
   type="password"
   required>
  </div>
  <div class="form-group">
   <label for="password2">Retype password</label>
   <input name="password2" class="form-control" id="password2"
   type="password"
   required>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
 </form>
</body>

</html>