<!DOCTYPE html>
<html>
<!-- See https://semaphoreci.com/community/tutorials/test-driven-development-of-go-web-applications-with-gin -->

{{ template "header-start.t.html" .}}
<title>Семантический словарь</title>
{{ template "header-end.t.html" .}}

<body>
 <p><a href="/menu">Меню</a></p>
 <form class="form" action="/registrationsubmit" method="POST">
  <div class="form-group">
   <label for="nickname">Ник</label>
   <input type="text" class="form-control" id="nickname" 
   name="nickname" placeholder="Ник" 
   required>
  </div>
  <div class="form-group">
   <label for="registrationemail">Адрес E-mail для регистрации</label>
   <input type="text" name="registrationemail" class="form-control" id="registrationemail"
   placeholder="adres@doma.in"
   required>
  </div>
  <div class="form-group">
   <label for="password1">Пароль</label>
   <input name="password1" class="form-control" id="password1"
   type="password"
   required>
  </div>
  <div class="form-group">
   <label for="password2">Повторить пароль</label>
   <input name="password2" class="form-control" id="password2"
   type="password"
   required>
  </div>
  <button type="submit" class="btn btn-primary">Зарегистрировать</button>
 </form>
</body>

</html>
