<!DOCTYPE html>
<html>
<!-- See https://semaphoreci.com/community/tutorials/test-driven-development-of-go-web-applications-with-gin -->
{{ template "header-start.t.html" .}}
<title>Semantic dictionary</title>
{{ template "header-end.t.html" .}}
<body>
<p><a href="menu">Menu</a></p>
<form class="form" action="/restorepasswordsubmit" method="POST">
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" class="form-control" id="email"
               type="email"
               required>
    </div>
    <button type="submit" class="btn btn-primary">Restore</button>
</form>
</body>
</html>
