<!DOCTYPE html>
<html>

{{ template "header-start.t.html" .}}
<title>Sense and proposals</title>
{{ template "header-end.t.html" .}}

<body>
    <p><a href="menu">Menu</a></p>
    <p><i>Language</i>: {{ .Header.Languageslug }}</p>
    {{range $index, $senseAndProposalsListQueryRecord := .Records}}
    <hr>
    <p><i>Sense #</i><a href="/sensebyidview/{{ $senseAndProposalsListQueryRecord.Senseid }}"> {{ $senseAndProposalsListQueryRecord.Senseid }}</a>
        {{if $.IsLoggedIn}}
            &VerticalBar; Write me... <span class="glyphicon glyphicon-edit"></span>
        {{end}}
        {{if $senseAndProposalsListQueryRecord.Ismine }} (MY) 
        <form class="form" action="/senseproposaldelete/{{ $senseAndProposalsListQueryRecord.Senseid }}" method="POST">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button>
        </form>{{ end }}
        {{if $senseAndProposalsListQueryRecord.Iscommon }} (COMMON) {{ end }}
        <p><b>{{ $senseAndProposalsListQueryRecord.Word }}</b>
        &VerticalBar; <i>Phrase:</i>{{ castAsHTML $senseAndProposalsListQueryRecord.Phrase }}</p>
        &VerticalBar; <i>Owner:</i>{{ $senseAndProposalsListQueryRecord.Sdusernickname }}</p>
    {{end}}

</body>

</html>