<!DOCTYPE html>
<html>
<!-- See https://semaphoreci.com/community/tutorials/test-driven-development-of-go-web-applications-with-gin -->

{{ template "header-start.t.html" .}}
<title>Semantic dictionary - create a new sense</title>
{{ template "header-end.t.html" .}}

<body>
 <script type="text/javascript" src="/static/ckeditor_4.11.3_basic/ckeditor.js"></script>
 <p><a href="menu">Menu</a></p>
 <p>New sense</p>
 <form class="form" action="/newsensesubmit" method="POST">
  <div class="form-group" style="display:none">
    <input type="text" class="form-control" id="ownerid" name="ownerid" value="{{.Svp.Sduserid}}" readonly>
  </div>
  <div class="form-group">
    <label for="oword">Word (an English word, abbrev, or collocation which can denote the sense)</label>
    <input type="text" name="oword" class="form-control" id="oword"
    value=""
    required></div>
    <div class="form-group">
      <label for="theme">Theme (in Russian) for the sense disambiguation</label>
      <input type="text" name="theme" class="form-control" id="theme"
      value="" required></div>
    <div class="form-group">
   <label for="phrase">Phrase (in Russian) explaining the sense</label>
   <textarea rows="10" cols="80" class="form-control" id="phrase" name="phrase">
     </textarea>
    </div></div>
  <button type="submit" name="action" value="create" class="btn btn-primary">Create</button>
 </form>
</body>
<script src="/static/bootstrap-3.3.2/js/bootstrap.js"></script>
<script type="text/javascript">
  var ckeditor1 = CKEDITOR.replace( 'phrase' );
  AjexFileManager.init({
  returnTo: 'ckeditor',
  editor: ckeditor1
  });
  </script>
</html>