<!DOCTYPE html>
<html>
<!-- See https://semaphoreci.com/community/tutorials/test-driven-development-of-go-web-applications-with-gin -->

{{ template "header-start.t.html" .}}
<title>Семантический словарь</title>
{{ template "header-end.t.html" .}}

<body>
 <script type="text/javascript" src="/static/ckeditor_4.11.3_basic/ckeditor.js"></script>
 <p><a href="/menu">Меню</a></p>
 <p>Edit sense</p>
 <form class="form" action="/senseeditsubmit" method="POST">
  <div class="form-group" style="display:none">
    <input type="text" class="form-control" id="senseid" name="senseid" value="{{.Ad.Id}}" readonly>
    <input type="text" class="form-control" id="ownerid" name="ownerid" value="{{.Ad.OwnerId}}" readonly>
  </div>
  <div class="form-group">
    <label for="oword">Английское слово</label>
    <input type="text" name="oword" class="form-control" id="oword"
    placeholder="Английское слово, аббревиатура или словосочетание, которое может обозначать смысл"
    value="{{ .Ad.OWord }}"
    required></div>
    <div class="form-group">
      <label for="theme">Тема (на русском языке) для уточнения смысла. Нажмите ПРОБЕЛ, чтобы выбрать</label>
      <select class="form-control js-example-basic-single" name="theme" id="theme">
        {{ range $index, $ThemeRecord := .Ad.Allth }}
        <option value="{{ $ThemeRecord.Theme }}">{{ $ThemeRecord.Theme }}</option>
        {{ end }}
       </select> 
    <div class="form-group">
   <label for="phrase">Фраза</label>
   <textarea rows="10" cols="80" class="form-control" id="phrase" name="phrase"
    placeholder="Выразите смысл подробно на русском языке">
    {{.Ad.Phrase}}
    </textarea></div>
  </div>
  <button type="submit" name="action" value="save" class="btn btn-primary">Сохранить</button>
  <button type="submit" name="action" accesskey="n" value="delete" class="btn btn-primary">Удалить (alt-n)</button>
 </form>
</body>
<script src="/static/bootstrap-3.3.2/js/bootstrap.js"></script>
<script type="text/javascript">
  var ckeditor1 = CKEDITOR.replace( 'phrase' );
  AjexFileManager.init({
  returnTo: 'ckeditor',
  editor: ckeditor1
  });
  </script>
{{ template "jquery.t.html" }}
<link href="/static/select2-4.0.7/dist/css/select2.css" rel="stylesheet" />
<script src="/static/select2-4.0.7/dist/js/select2.js"></script>  
<script type="text/javascript">
  $(document).ready(function() {
    $('.js-example-basic-single').select2({ tags : true}); });  
</script>
</html>
