<!DOCTYPE html>
<html>

{{ template "header-start.t.html" .}}
<title>Word search result</title>
{{ template "header-end.t.html" .}}

<body>
    <p><a href="menu">Menu</a></p>
    {{ template "wordsearchform-inner.t.html" . }}
    <p>Word search results: «{{.Wsqp.Wordpattern}}»</p>
    {{if .IsLoggedIn}}
    <a href="/sensenewedit?oword={{.Wsqp.Wordpattern}}">Add new «{{.Wsqp.Wordpattern}}»</a>
    {{end}}
    </p>
    {{range $index, $wordSearchQueryRecord := .Records}}
    <hr>
    <p>
        
        <p><a href="/sensebyidview/{{ $wordSearchQueryRecord.Senseid }}">
            <b>{{ $wordSearchQueryRecord.Oword }}</b></a>
            
            {{if $.IsLoggedIn}}
            <a href="/senseedit/{{ $wordSearchQueryRecord.Senseid }}">
                    edit-sense</a>
            {{else}}&VerticalBar;{{end}}              

            <i>Theme:</i>{{ $wordSearchQueryRecord.Theme }}&VerticalBar;
        <i>Phrase:</i>{{ castAsHTML $wordSearchQueryRecord.Phrase }}</p>

        <p>{{ if not (eq 0 $.Wsmr.FavoriteLanguageId) }}
        {{if eq 0 $wordSearchQueryRecord.HasFavoriteLanguageTranslation}}
        <b>{{ $.Wsmr.FavoriteLanguageSlug }}</b></i>
            <a href="/lwsnewedit/{{ $wordSearchQueryRecord.Senseid  }}/{{ $.Wsmr.FavoriteLanguageId }}">Add</a></p>
        {{end}}{{end}}

        {{ range $index1, $lwsRecord := $wordSearchQueryRecord.LwsArray }}
        <p><i>{{ $lwsRecord.Languageslug }}</i>  
        {{ if eq $lwsRecord.Canedit 1 }}
        <a href="/lwsedit/{{ $wordSearchQueryRecord.Senseid }}/{{ $lwsRecord.LanguageId }}/{{ $lwsRecord.Id }}">edit</a>{{else}} : {{end}}
            {{ $lwsRecord.Word }}
        </p>
        {{ end }}
    {{end}}

</body>
{{ template "jquery.t.html" }}
{{ template "bootstrap.t.html" }}
{{ template "expandable-details-script.t.html" "#advanced"}}
</html>