<!DOCTYPE html>
<html>

{{ template "header-start.t.html" .}}
<title>Word search result</title>
{{ template "header-end.t.html" .}}

<body>
    <p><a href="menu">Menu</a></p>
    {{ template "wordsearchform-inner.t.html" . }}
    <p>Word search results: «{{.Wsqp.Wordpattern}}»</p>
    {{if .IsLoggedIn}}
    <form class="form" action="/senseproposaladdform?wordpattern={{.Wsqp.Wordpattern}}" method="POST">
    <button type="submit" class="btn btn-primary">Add new «{{.Wsqp.Wordpattern}}»</button>
    </form>
    {{end}}
    <p></p>
    {{range $index, $wordSearchQueryRecord := .Records}}
    <hr>
    <p>
        <a href="/sensebyidview/{{ $wordSearchQueryRecord.Id }}">View</a>
        {{if $.IsLoggedIn}}
        &VerticalBar; <a href="/senseedit/{{ $wordSearchQueryRecord.Id }}">
                <span class="glyphicon glyphicon-edit"></span></a>{{end}}
        <p><b>{{ $wordSearchQueryRecord.Oword }}</b>&VerticalBar; 
        <i>Theme:</i>{{ $wordSearchQueryRecord.Theme }}&VerticalBar;
        <i>Phrase:</i>{{ castAsHTML $wordSearchQueryRecord.Phrase }}</p>
        {{ $wordSearchQueryRecord.Lwsjson }}
    {{end}}

</body>
{{ template "jquery.t.html" }}
{{ template "bootstrap.t.html" }}
{{ template "expandable-details-script.t.html" "#advanced"}}
</html>