<!DOCTYPE html>
<html>

<head>
<title>Word search result</title>
<!-- from https://www.ag-grid.com/javascript-grid-infinite-scrolling/ -->
<script>var __basePath = ''; </script>
<!-- from https://www.ag-grid.com/javascript-grid-infinite-scrolling/ -->
<style> html, body { margin: 0; padding: 0; height: 100%; } </style>

<!-- ag-grid-community.min.noStyle does not work here -->
<script src="static/js/ag-grid-community.min.js"></script>
<!-- link rel="stylesheet" href="static/css/ag-grid.css" -->
<!-- link rel="stylesheet" href="static/css/ag-theme-bootstrap.css" -->

</head>


<body>

 <p><a href="menu">Menu</a></p>
 <p>Word search results: «{{.P.Wordpattern}}»</p>
 <div id="myGrid" style="height: 100%;" class="ag-theme-bootstrap"></div>

<script>
var columnDefs = [
    // this row shows the row index, doesn't use any data from the row
    {headerName: "#", width: 50,
        // it is important to have node.id here, so that when the id changes (which happens
        // when the row is loaded) then the cell is refreshed.
        valueGetter: 'node.id',
        cellRenderer: 'loadingRenderer'
    },
    {headerName: "Id", field: "Id", width: 50},
    {headerName: "Languageid", field: "Languageid", width: 150},
    {headerName: "Phrase", field: "Phrase", width: 90},
    {headerName: "Word", field: "Word", width: 120},
];

var gridOptions = {
    defaultColDef: {
        resizable: true
    },
    components:{
        loadingRenderer: function(params) {
            if (params.value !== undefined) {
                return params.value;
            } else {
                return '⌛'
            }
        }
    },
    rowBuffer: 0,
    rowSelection: 'multiple',
    rowDeselection: true,
    columnDefs: columnDefs,
    // tell grid we want virtual row model type
    rowModelType: 'infinite',
    // how big each page in our page cache will be, default is 100
    paginationPageSize: 100,
    // how many extra blank rows to display to the user at the end of the dataset,
    // which sets the vertical scroll and then allows the grid to request viewing more rows of data.
    // default is 1, ie show 1 row.
    cacheOverflowSize: 2,
    // how many server side requests to send at a time. if user is scrolling lots, then the requests
    // are throttled down
    maxConcurrentDatasourceRequests: 1,
    // how many rows to initially show in the grid. having 1 shows a blank row, so it looks like
    // the grid is loading from the users perspective (as we have a spinner in the first col)
    infiniteInitialRowCount: 1000,
    // how many pages to store in cache. default is undefined, which allows an infinite sized cache,
    // pages are never purged. this should be set for large data to stop your browser from getting
    // full of data
    maxBlocksInCache: 10
};

function buildWordSearchQueryRowsURL(params) {
    var url = '/wordsearchquery?wordpattern={{.Wordpatternurlencoded}}'
    var limit = params.endRow - params.startRow
    var offset = params.startRow
    if (limit === undefined) {
        console.error('limit is undefined') }
    if (offset === undefined) {
        console.error('offset is undefined') }
    url = url + '&limit=' + limit + '&offset=' + offset
    return url
}

// setup the grid after the page has finished loading
document.addEventListener('DOMContentLoaded', function() {
    var gridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(gridDiv, gridOptions);
    dataSource = {
        rowCount: null,
        getRows: function getWordSearchQueryRows(params) {
            var url = buildWordSearchQueryRowsURL(params)
            agGrid.simpleHttpRequest({url: url}).then(
                function processReceivedSearchQueryRows(data) {
                    var rowsThisPage = data.slice(params.startRow, params.endRow);
                        // if on or after the last page, work out the last row.
                    var lastRow = -1;
                    if (data.length <= params.endRow) {
                        lastRow = data.length;
                    }
                    // call the success callback
                    params.successCallback(rowsThisPage, lastRow);
                }
            )
        }
    }
    gridOptions.api.setDatasource(dataSource);


    /* agGrid.simpleHttpRequest({url: '/wordsearchquery?wordpattern={{.P.Wordpattern}}'}).then(
        function(data) {
            var dataSource = {
                rowCount: null, // behave as infinite scroll
                getRows: function (params) {
                    console.log('asking for ' + params.startRow + ' to ' + params.endRow);
                    // At this point in your code, you would call the server, using $http if in AngularJS 1.x.
                    // To make the demo look real, wait for 500ms before returning
                    setTimeout( function() {
                        // take a slice of the total rows
                        var rowsThisPage = data.slice(params.startRow, params.endRow);
                        // if on or after the last page, work out the last row.
                        var lastRow = -1;
                        if (data.length <= params.endRow) {
                            lastRow = data.length;
                        }
                        // call the success callback
                        params.successCallback(rowsThisPage, lastRow);
                    }, 500);
                }
            };

        gridOptions.api.setDatasource(dataSource);
    });*/ 
});
</script>

</body>
</html>
