<!DOCTYPE html>
<html>

{{ template "header-start.t.html" .}}
<title>Word search</title>
{{ template "header-end.t.html" .}}

<body>
 <p><a href="menu"><span class="glyphicon glyphicon-menu-hamburger"></span>Menu</a></p>
 {{ template "wordsearchform-inner.t.html" . }}
</body>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/bootstrap-3.3.2/js/bootstrap.js"></script>
<script>
jQuery(function setUpAdvancedPanelEvents($) {
 function toggleIt(e) {
  $(e.target).prev().toggleClass('active inactive').find('.glyphicon').toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
 }
 $('#advanced').on('show.bs.collapse', toggleIt)
 $('#advanced').on('hide.bs.collapse', toggleIt)
});</script>
</html>
