<!DOCTYPE html>
<html>

{{ template "header-start.html" .}}
<title>Word search result</title>
{{ template "header-end.html" .}}

<body>
    <p><a href="menu">Menu</a></p>
    <p>Word search results: «{{.P.Wordpattern}}»</p>
    {{if .IsLoggedIn}}<p><a href="/senseaddform">Add new «{{.P.Wordpattern}}»</a></p>{{end}}
    <p></p>
    {{range $index, $wordSearchQueryRecord := .Records}}
    <hr>
    <p><a href="/senseview/{{ $wordSearchQueryRecord.Id }}"><i>Sense ID:</i> {{ $wordSearchQueryRecord.Id }}</a>
 &VerticalBar; <i>Language</i>: {{ $wordSearchQueryRecord.Languageid }} </p>
    <p><b>{{ $wordSearchQueryRecord.Word }}</b> 
 &VerticalBar; <i>Phrase:</i> {{ $wordSearchQueryRecord.Phrase }}</p>
    {{if $.IsLoggedIn}}
    <p><a href="/senseedit/{{ $wordSearchQueryRecord.Id }}">
        <span class="glyphicon glyphicon-edit"></span></a></p>{{end}}
    {{ end }}

</body>

</html>